<?xml version="1.0"?>
<CustomConfig>
  <CurrentConfig>
    <pageExtensions>
    </pageExtensions>
    <connectionStrings>
      <!--<add name="CmsMainDb" connectionString="Data Source=PSO-030\SQLEXPRESS2018;User ID=vibaohiem;Password=vbh123$%^;Initial Catalog=ViBaoHiem;" />-->
      <add name="CmsMainDb" connectionString="Server=PSO-030\SQLEXPRESS2018;Database=ViBaoHiem;User ID=vibaohiem;pwd=vbh123$%^" />
    </connectionStrings>
    <appSettings>
      <add key="EncryptConnection" value="false" />

      <add key="WEB_TITLE" value="Vi Bảo hiểm"/>
      <add key="WEB_HOST" value="http://local.vibaohiem.vn"/>
      
      <add key="SecurityLevel" value="0" />

      <add key="Redis_Host" value="127.0.0.1" />
      <add key="Redis_Port" value="3689" />
      <add key="Redis_Password" value="" />
      <add key="Redis_DB" value="1" />
    </appSettings>
  </CurrentConfig>
</CustomConfig>
